.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 5rem 1.25rem;
}

.logo {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: block;

  &::before {
    content: none !important;
  }

  svg {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
  }
}

.title {
  margin: 0 0 0.25em;
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  max-width: 50ch;
  margin: 0 auto 5em;
  text-align: center;

  span {
    opacity: 0.75;
  }
}

.project-link {
  width: 100%;
  margin: 0 0 3em;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    margin: 0 0 0.25em;
    font-size: 1.5em;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    list-style: none;
    opacity: 0.75;

    li {
      display: inline;

      &:not(:last-child):after {
        content: ', ';
      }
    }
  }
}
